[user]
	name = Rafael Canovas
	email = rafaelcanovas@me.com

[github]
	user = mstrcnvs

[alias]
	br = branch
	c = commit -m
	ca = commit -am
	cal = !git add -A; git commit -m
	df = diff --color --color-words --abbrev
	le = log --oneline --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	s = status -sb
	undo-commit = reset --soft HEAD~1

[push]
	default = current

[log]
	abbrevCommit = true

[color]
	ui = auto

[url "git://github.com/"]
	insteadOf = "github:"

[merge]
	conflictstyle = diff3
