[user]
	name = Rafael Canovas
	email = rafaelcanovas@me.com

[github]
	user = mstrcnvs

[alias]
	c = commit -m
	ca = commit -am
	df = diff --color --color-words --abbrev
	s = status -sb
	undo-commit = reset --soft HEAD~1
	chp = !git checkout $1 && git pull && :
	le = log --oneline --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate

[push]
	default = current

[log]
	abbrevCommit = true

[color]
	ui = auto

[url "git://github.com/"]
	insteadOf = "github:"

[url "git@bitbucket.org:"]
    insteadOf = "bitbucket:"

[merge]
	conflictstyle = diff3
